.medium-card__border-right{
    border-right: 1px solid rgba(255,255,255,0.1);

    @media (max-width: 992px){
        border: none !important;
    }
}

.medium-card__border-none{
    border-bottom: none;
}

.infos-date{
    font-size: small;
    margin: .5rem 0;
}

h4:hover{
    color: #9C68A7;
}