.menu-title{
    font-size: 2rem;
    align-self: center;
    color: #91679B;

    @media (min-width: 480px){
        font-size: 3rem;
    }

    @media (min-width: 560px){
        font-size: 4rem;
    }

    @media (min-width: 768px){
        font-size: 5rem;
    }

    @media (min-width: 992px){
        font-size: 7rem;
    }

    @media (min-width: 1440px){
        font-size: 10rem;
        font-weight: bolder;
    }

    @media (min-width: 1920px){
        font-size: 14rem;
    }
}