<div id="webdevelopment" class="container-fluid">
    <div class="p-2 p-sm-5">
        <h6 class="text-uppercase text-white-50 px-lg-5">Tutorial Web Development</h6>
        <div class="row px-lg-5 py-4">
            <app-medium-card
            mediumCardDate="{{cards[5].cardDate}}"
            mediumCardPhotoCover="{{cards[5].cardPhotoCover}}"
            mediumCardPhotoCoverAlt="{{cards[5].cardPhotoAlt}}"
            mediumCardTitle="{{cards[5].cardTitle}}"
            mediumCardId="{{cards[5].cardId}}"
            border="{{ borderRight }}" class="col-sm-6 col-lg-3 col-12"></app-medium-card>
            <app-medium-card
            mediumCardDate="{{cards[6].cardDate}}"
            mediumCardPhotoCover="{{cards[6].cardPhotoCover}}"
            mediumCardPhotoCoverAlt="{{cards[6].cardPhotoAlt}}"
            mediumCardTitle="{{cards[6].cardTitle}}"
            mediumCardId="{{cards[6].cardId}}"
            border="{{ borderRight }}" class="col-sm-6 col-lg-3 col-12"></app-medium-card>
            <app-medium-card
            mediumCardDate="{{cards[7].cardDate}}"
            mediumCardPhotoCover="{{cards[7].cardPhotoCover}}"
            mediumCardPhotoCoverAlt="{{cards[7].cardPhotoAlt}}"
            mediumCardTitle="{{cards[7].cardTitle}}"
            mediumCardId="{{cards[7].cardId}}"
            border="{{ borderRight }}" class="col-sm-6 col-lg-3 col-12"></app-medium-card>
            <app-medium-card
            mediumCardDate="{{cards[8].cardDate}}"
            mediumCardPhotoCover="{{cards[8].cardPhotoCover}}"
            mediumCardPhotoCoverAlt="{{cards[8].cardPhotoAlt}}"
            mediumCardTitle="{{cards[8].cardTitle}}"
            mediumCardId="{{cards[8].cardId}}"
            border="{{ borderNone }}" class="col-sm-6 col-lg-3 col-12"></app-medium-card>
        </div>  
    </div>
</div>
