<app-header-content></app-header-content>

<div class="container-fluid px-4 px-lg-5 min-vh-100">
    <div class="row col-12  pt-lg-3 pb-lg-5 px-lg-5 m-0 justify-content-center align-items-center">
        <div class="row col-12 col-lg-9 justify-content-center align-items-center gap-3 gap-lg-4">
            <div class="d-flex flex-column">
                <h1 class="infos-title">{{articleTitle}}</h1>
                <p class="infos-date text-white-50 d-flex align-items-center w-100">{{articleDate}}<i class="bi bi-circle-fill"></i>{{articleCategory}}</p>
            </div>
            <div class="col-12">
                <img src="{{articlePhotoCover}}" alt="{{articlePhotoCoverAlt}}" class="w-100 article-photo">
            </div>
            <div class="article-text mt-2 mt-lg-4 mb-4">
                <p *ngFor="let para of articleContent">{{para.p}}</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>