<header> 
    <nav class="navbar navbar-expand-lg navbar-dark d-flex flex-column pt-4">
        <div class="container-fluid d-lg-flex justify-content-lg-between px-4 px-lg-5">
            <a class="navbar-brand" [routerLink]="['']">
                <img src="../../../assets/DevSuzaneMoura_Icon.svg" alt="Logo" width="40" height="40" class="mx-2">
            </a>
            <ul class="navbar-nav d-flex flex-row gap-3 gap-lg-1">
                <li class="nav-item">
                <a class="nav-link" href="mailto:suuzanemoura@gmail.com" target="_blank">
                    <i class="bi bi-envelope-fill"></i>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://github.com/suuzanemoura" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/suuzanemoura/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                </li>
            </ul>
        </div>
        <div class="w-100 p-2 mt-5">
            <ul class="nav justify-content-start justify-content-md-center">
                <li class="nav-item">
                  <a class="nav-link sub-nav d-flex gap-2 justify-content-center" [routerLink]="['']"><i class="bi bi-arrow-left"></i>Back to Home</a>
                </li>
              </ul>
        </div>
    </nav>
</header>
