<nav class="navbar navbar-expand-lg navbar-dark pt-4 pb-1 px-3 px-sm-5 mx-md-5">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']">
            <img src="../../../assets/DevSuzaneMoura_Icon.svg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top me-md-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header p-4 pt-5">
          <h5 class="offcanvas-title fw-bold" id="offcanvasDarkNavbarLabel">{{title}}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-lg-flex justify-content-lg-between px-4 p-lg-0">
            <ul class="navbar-nav menu-bar">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
                </li>
                <li class="nav-item" [routerLink]="['blog']">
                    <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item" [routerLink]="['design']">
                    <a class="nav-link" href="#design">Design</a>
                </li>
                <li class="nav-item" [routerLink]="['webdevelopment']">
                    <a class="nav-link" href="#webdevelopment">Web Development</a>
                </li>
                <li class="nav-item" [routerLink]="['about']">
                    <a class="nav-link" href="#about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row gap-3 gap-lg-1">
                <li class="nav-item">
                <a class="nav-link" href="mailto:suuzanemoura@gmail.com" target="_blank">
                    <i class="bi bi-envelope-fill"></i>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://github.com/suuzanemoura" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/suuzanemoura/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
</nav>