<div class="row p-2 py-5 px-sm-5 design">
    <div class="col-lg-6 col-md-12 d-flex justify-content-center flex-column gap-3 px-lg-5 mb-5 mb-lg-4 design">
        <h2 class="design">{{rowCardTitle}}</h2>
        <p class="design">{{rowCardDescription}}</p>
        <app-button class="design" buttonName="{{buttonName}}"></app-button>
    </div>
    <div class="col-lg-6 col-md-12 d-flex justify-content-end align-items-center px-lg-3 design rowcard-photo">
        <img src="{{rowCardPhotoCover}}" alt="{{rowCardPhotoCoverAlt}}" class="w-100 design" loading="lazy">
    </div>
</div>
