.design{
    background-color: #2a013a;
}

.rowcard-photo > img {
    @media (min-width: 992px){
        width: 80% !important;
    }
}

.infos-date{
    font-size: small;
    margin: .5rem 0;
}

h2:hover{
    color: #9C68A7;
}