<div class="row p-2 p-sm-5 design">
    <div class="col-lg-6 col-md-12 d-flex justify-content-center flex-column gap-3 px-lg-5 mb-5 mb-lg-4 design">
        <h2 class="design">Incidunt molestias accusantium laborum, soluta in iure quibusdam amet ea ad quo quaerat?</h2>
        <p class="design">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, est iste beatae perspiciatis quibusdam quo illum. Fugiat neque vel sunt, nisi quos nulla veritatis illo, enim amet quaerat perspiciatis ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet dolore illum expedita facilis aliquam perferendis, praesentium fugit vitae sit voluptas aspernatur ipsum quibusdam amet. Placeat fuga temporibus ut doloribus nobis?</p>
        <app-button class="design" buttonName="{{buttonName}}"></app-button>
    </div>
    <div class="col-lg-6 col-md-12 d-flex justify-content-end align-items-center px-lg-3 design rowcard-photo">
        <img src="../../../assets/ux-ui-design.png" alt="Imagem representando UX e UI de uma tela de e-commerce em um app mobile." class="w-100 design">
    </div>
</div>
