<div id="blog" class="articles container p-5">
    <div class="row">
        <article class="col-lg-6 col-md-12">
          <app-big-card></app-big-card>
        </article>
        <article class="col-lg-6 col-md-12">
          <app-small-card border="{{ borderBottom }}"></app-small-card>
          <app-small-card border="{{ borderBottom }}"></app-small-card>
          <app-small-card border="{{ borderNone }}"></app-small-card>
        </article>
        <app-button class="col-12 d-flex justify-content-center" buttonName="{{buttonName}}"></app-button>
    </div>
</div>
