<div id="blog" class="container-fluid p-lg-5">
    <div class="row p-2 p-sm-5">
        <article class="col-xl-6 col-lg-12 px-lg-4 mb-5 mb-xl-2">
          <app-big-card
          bigCardId="{{cards[0].cardId}}"
          bigCardPhotoCover="{{cards[0].cardPhotoCover}}"
          bigCardPhotoAlt="{{cards[0].cardPhotoAlt}}"
          bigCardDate="{{cards[0].cardDate}}"
          bigCardTitle="{{cards[0].cardTitle}}"
          bigCardDescription="{{cards[0].cardDescription}}"
          buttonName="Continue reading"></app-big-card>
        </article>
        <article class="col-xl-6 col-lg-12 px-lg-4">
          <app-small-card
          smallCardId="{{cards[1].cardId}}"
          smallCardPhotoCover="{{cards[1].cardPhotoCover}}"
          smallCardPhotoAlt="{{cards[1].cardPhotoAlt}}"
          smallCardDate="{{cards[1].cardDate}}"
          smallCardTitle="{{cards[1].cardTitle}}"
          border="{{ borderBottom }}"></app-small-card>
          <app-small-card
          smallCardId="{{cards[2].cardId}}"
          smallCardPhotoCover="{{cards[2].cardPhotoCover}}"
          smallCardPhotoAlt="{{cards[2].cardPhotoAlt}}"
          smallCardDate="{{cards[2].cardDate}}"
          smallCardTitle="{{cards[2].cardTitle}}"
          border="{{ borderBottom }}"></app-small-card>
          <app-small-card
          smallCardId="{{cards[3].cardId}}"
          smallCardPhotoCover="{{cards[3].cardPhotoCover}}"
          smallCardPhotoAlt="{{cards[3].cardPhotoAlt}}"
          smallCardDate="{{cards[3].cardDate}}"
          smallCardTitle="{{cards[3].cardTitle}}"
          border="{{ borderNone }}"></app-small-card>
        </article>
    </div>
</div>